h1{
    text-align: center;
}
.bg-color{
   background-color: #b9dcc1 !important;
   border-bottom: 1px solid brown;
}
.active{
    color: #1b1919 !important;
    text-decoration: none !important;
    background-color: #9d8aec !important;
    font-weight: 700 !important;
}